body {
    display: grid;
    background-color: #f68658;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 100px 150px 1.3fr 1fr;
    grid-template-areas:
        "header header"
        "semi-header semi-header"
        "weather map"
        "location map";
    gap: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    grid-area: header;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-right: 300px;
}

.search-input {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.search-button {
    padding: 10px 20px;
    background-color: darkgrey;
    color: white;
    cursor: pointer;
}

.my-location-button {
    padding: 10px 20px;
    background-color: darkgrey;
    border: none;
    color: white;
    cursor: pointer;
}

.location-section {
    padding: 20px;
    grid-area: semi-header;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.current-location {
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: bolder;
}

.copy-location-button {
    padding: 10px 20px;
    background-color: darkgrey;
    border: none;
    color: white;
    cursor: pointer;
}


.weather-container {
    padding: 20px;
    grid-area: weather;
    border: 1px solid black;
    display: flex;
    align-items: center;
    gap: 100px;
}

.weather-info {
    font-size: 20px;
    margin-bottom: 10px;
}

.locations-table{
    grid-area: location;
    border: 1px solid black;

}

.btn-location{
    padding: 10px 20px;
    background-color: darkgrey;
    border: none;
    color: white;
    cursor: pointer;
}

.map {
    grid-area: map;
    border: 1px solid black;

}

.weather-description,
.temperature,
.humidity{
    font-size: 17px;
    color: white;
    font-weight: bolder;

}