.main-content {
    grid-column: 2 / span 2;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    gap: 1em;
    color: var(--clr-Primary4);
}

.main-content > * {
    background-color: var(--clr-Primary2);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .4);
    border-radius: 0.5em;
}

.main-content .weather-container {
    display: grid;
    place-items: center;
}

.main-content .weather-info > * {
    color: white;
}

.main-content .map {
    grid-column: 2;
    grid-row: 1 / span 2;
}

.main-content .user-btns {
    display: grid;
    padding: 1em;
    row-gap: 0.5em;
}

.main-content .locations-table {
    grid-column: 2;
    grid-row: 3;

    display: grid;
    place-items: center;
    padding: 1em;

    background-color: var(--clr-Primary6);
}

.main-content .your-locations {
    text-align: center;
    padding: 1em;
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--clr-Primary5);
    background-color: var(--clr-Primary4);
}